pipeline/COPY_LOOKUP_FOREACH_FILTER.json
{
	"name": "COPY_LOOKUP_FOREACH_FILTER",
	"properties": {
		"activities": [
			{
				"name": "Lookup Controler",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_gen_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "controller",
							"directory_name": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"file_name": "controller_tables.csv",
							"delimeter": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Controler",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Controler').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_table,1)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}